:root {
    --color-light: #E7ECEF;
    --color-primary: #274C77;
    --color-secondary: #6096BA;
    --color-accent: #A3CEF1;
    --color-dark: #8B8C89;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--color-light);
    color: var(--color-primary);
}

.navbar-toggler {
    color: var(--color-secondary);
}

.navbar {
    background-color: var(--color-primary);
}


.jumbotron {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.jumbotron video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.btn-primary {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-light);
}

.btn-primary:hover {
    background-color: var(--color-primary);
    animation: pulse 1s infinite;
}

.card {
    background-color: white;
    border-radius: 10%;
    border-color: var(--color-accent);
    color: var(--color-primary);
}

.bbox {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.sc3 {
    width: 100%;
    padding: 5% 0;
    background-color: var(--color-dark);
}

.cubo {
    position: absolute;
    z-index: 2;
    color: var(--color-primary);
    text-align: center;
    padding: 20px;
}